  <tr>
    <td>House of <%= maiden_speech[0] %> maiden speech</td>
    <td><%= maiden_speech[1].strftime( '%e %B %Y') %></td>
  </tr>
  <tr>
    <td>Maiden speech Hansard reference</td>
    <td><%= maiden_speech[2] %></td>
  </tr>
  <tr>
    <td>Maiden speech subject</td>
    <td><%= maiden_speech[3] %></td>
  </tr>
