<p>
  <b>MNIS API</b> &mdash; <%= @members.size %> results &middot; <a href="<%= @uri %>">XML source</a> &middot; <a href="https://codebeautify.org/xml-to-csv-converter?url=<%= @uri %>">Convert to CSV</a>
</p>

<%= render :partial => 'member', :collection => @members %>
