<h2>Include additional data</h2>

<p>The <%= link_to( 'MNIS API', 'https://data.parliament.uk/membersdataplatform/memberquery.aspx' ) %> restricts the number of additional datasets included to a <%= link_to( 'maximum of three', 'https://data.parliament.uk/membersdataplatform/memberquery.aspx#outputs' ) %>.</p>

<p>Including additional data for Member records may return multiple nested records. A CSV of the result set may include additional columns.</p>

<fieldset class="p-form__fieldset p-3 my-3 border rounded">
  	<legend class="p-form__fieldset-legend">Additional information</legend>
	<span class="p-form__hint">This includes forename, middle names, surname, town of birth and country of birth where that information is present in MNIS. For Members of the House of Lords, it also includes membership types with date ranges, and the dates of any oaths.</span>
	<div class="p-form__checkbox-group pt-3">
		<div class="p-form__checkbox-item">
			<input type="checkbox" name="include_basic_details" id="include_basic_details" value="true" />
			<label for="include_basic_details" class="p-form__checkbox-item-label">Include additional information</label>
		</div>
	</div>
</fieldset>

<fieldset class="p-form__fieldset p-3 my-3 border rounded">
  	<legend class="p-form__fieldset-legend">Constituencies</legend>
	<div class="p-form__checkbox-group pt-3">
		<div class="p-form__checkbox-item">
			<input type="checkbox" name="include_constituencies" id="include_constituencies" value="true" />
			<label for="include_constituencies" class="p-form__checkbox-item-label">Include constituencies</label>
		</div>
	</div>
</fieldset>

<fieldset class="p-form__fieldset p-3 my-3 border rounded">
  	<legend class="p-form__fieldset-legend">Parties</legend>
	<div class="p-form__checkbox-group pt-3">
		<div class="p-form__checkbox-item">
			<input type="checkbox" name="include_parties" id="include_parties" value="true" />
			<label for="include_parties" class="p-form__checkbox-item-label">Include parties</label>
		</div>
	</div>
</fieldset>

<fieldset class="p-form__fieldset p-3 my-3 border rounded">
  	<legend class="p-form__fieldset-legend">Maiden speeches</legend>
	<span class="p-form__hint">A search including Members of the House of Lords will return two nested maiden speech records if the result set includes Members who once sat in the House of Commons.</span>
	<span class="p-form__hint">A search including Members of Sinn Féin will return no nested maiden speech records because those Members choose not to sit.</span>
	<div class="p-form__checkbox-group pt-3">
		<div class="p-form__checkbox-item">
			<input type="checkbox" name="include_maiden_speeches" id="include_maiden_speeches" value="true" />
			<label for="include_maiden_speeches" class="p-form__checkbox-item-label">Include maiden speeches</label>
		</div>
	</div>
</fieldset>

<fieldset class="p-form__fieldset p-3 my-3 border rounded">
  	<legend class="p-form__fieldset-legend">Addresses</legend>
	<div class="p-form__checkbox-group pt-3">
		<div class="p-form__checkbox-item">
			<input type="checkbox" name="include_addresses" id="include_addresses" value="true" />
			<label for="include_addresses" class="p-form__checkbox-item-label">Include addresses</label>
		</div>
	</div>
</fieldset>