<fieldset>
  <label for="identifier">Identifier</label>
  <input type="number" id="identifier" name="identifier" /><br>
  <h3>Source</h3>
  <input type="radio" id="identifier_source_mnis" name="identifier_source" value="id" checked /><label for="identifier_source_mnis">MNIS</label>
  <br>
  <input type="radio" id="identifier_source_dods" name="identifier_source" value="refDods" /><label for="identifier_source_dods">Dods</label>
  <br>
  <input type="radio" id="identifier_source_clerks" name="identifier_source" value="refClerks" /><label for="identifier_source_clerks">Clerks</label>
  <br>
  <input type="radio" id="identifier_source_pims" name="identifier_source" value="refPims" /><label for="identifier_source_pims">PIMS</label>
  <br>
  <input type="radio" id="identifier_source_rush" name="identifier_source" value="refRush" /><label for="identifier_source_rush">Rush</label>
  <br>
  <input type="radio" id="identifier_source_commons_enquiries" name="identifier_source" value="refCommonsEnq" /><label for="identifier_source_commons_enquiries">Commons enquiries</label>
  <br>
  <input type="radio" id="identifier_source_commons_hansard" name="identifier_source" value="refCommonsHansard" /><label for="identifier_source_commons_hansard">Commons Hansard</label>
</fieldset>
