<nav>
  <strong>MNIS Prodder</strong>
  <br>
  <%= link_to( 'Filter results from MNIS', home_url ) %>
  <br>
  <%= link_to( 'Lookup a Member', home_lookup_url ) %>
  <br>
  <%= link_to( 'Useful queries', 'https://ukparliament.github.io/ontologies/meta/relational/mnis/queries/' ) %>
</nav>
