<form action="<%= home_parse_url -%>" method="GET">
  <%= render :partial => 'filter_form' %>
  <%= render :partial => 'include_form' %>
  <button type="submit" class="btn btn-primary" id="prod">Show Results</button>
</form>
