<h1>Filter results from MNIS</h1>

<form action="/mnis-prodder/form-parse" method="GET">
  <%= render :partial => 'filter_form' %>
  <%= render :partial => 'include_form' %>
  <button type="submit" class="btn btn-primary" id="prod">Show Results</button>
</form>
