<h1>Lookup a Member</h1>
<form action="form-parse" method="GET">
  <%= render :partial => 'lookup_form' %>
  <%= render :partial => 'include_form' %>
  <button type="submit" id="prod">Lookup</button>
</form>
