<form action="<%= home_parse_url -%>" method="GET">
  <%= render :partial => 'lookup_form' %>
  <%= render :partial => 'include_form' %>
  <button type="submit" class="btn btn-primary" id="prod">Lookup</button>
</form>
