<%= render 'library_design/header/header' do %>
	<%= link_to( 'Filter results', home_url, :class => 'nav-filter' )%>
	<%= link_to( 'Lookup a Member', home_lookup_url, :class => 'nav-lookup'  )%>
	<a href="https://ukparliament.github.io/ontologies/meta/relational/mnis/queries/">Useful queries</a>
<% end %>