<header>
  <a href="#main-content" class="skip-to-content">Skip to main content</a>
	<%= render 'layouts/header/portcullis' %>
   <%= render 'layouts/header/crumb' %>

	<div class="page-header">
		<div class="container">
			<p>MNIS &mdash; the Members' Names Information Service from the UK Parliament</p>
		  <p>

		  	<%= link_to( 'Filter results', home_url )%>
		  &middot;
		  	<%= link_to( 'Lookup a Member', home_lookup_url )%>
		  &middot;
			  <a href="https://ukparliament.github.io/ontologies/meta/relational/mnis/queries/">Useful queries</a>
			</p>
		</div>
	</div>
</header>
