/* Styling for nav in header */
nav#header-nav {
	margin-top: 1em;
}
nav#header-nav a {
	border-bottom: 3px #373151 solid;
	margin-right: 10px;
}
nav#header-nav a:hover {
	border-bottom-color: #fff;
}