/* Extras go in here for things which are not in the PDS Design system */
/* This file would be centrally managed in a repo somewhere, but would */
/* copied to each repo as required - there's an overhead obvs. but it  */
/* keeps things simple for now                                         */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Disable Bootstrap smooth scrolling to ensure radio button validations display correctly */
/* https://github.com/twbs/bootstrap/issues/33757 */
:root {
  scroll-behavior: auto !important;
}











body.section-time-periods nav#header-nav a.time-periods {
	border-bottom-color: #fff;
}
body.section-calendar nav#header-nav a.calendar {
	border-bottom-color: #fff;
}
body.section-calendar-subscriptions nav#header-nav a.calendar-subscriptions {
	border-bottom-color: #fff;
}



section {
	margin-bottom: 1em;
}

div.debug {
	border: 3px solid yellow;
	margin: 10px;
	padding: 10px;
}

/* egg timer */
div.stale-warning {
  border: 3px solid red;
  margin-bottom: 20px;
  padding: 10px;
}

h1 span[class="subhead"] {
	display: block;
	font-size: .7em;
	font-weight: normal;
}

.subnav {
	border-color: #cbc9cd;
	border-style: solid;
	border-width: 0 0 1px 0;
	margin-bottom: 1em;
}
.subnav p {
	margin: 0;
	padding: .5em .5em 0 .5em;
}
.subnav a {
	border-bottom: 4px #fff solid;
	color: #2b57ab;
	display: inline-block;
	text-decoration: none;
  	margin-right:0.2rem;
  	padding:0 0.2rem;
}
.subnav a:hover {
	border-bottom-color: #cbc9cd;
}

/* subnav active */
body.subsection-scrutiny-calculator .subnav a.scrutiny-calculator {
	border-bottom-color: #006e45;
	color: #4d4d4d;
}
body.subsection-scrutiny-calculator-reverse .subnav a.scrutiny-calculator-reverse {
	border-bottom-color: #006e45;
	color: #4d4d4d;
}
body.subsection-interval-calculator .subnav a.interval-calculator {
	border-bottom-color: #006e45;
	color: #4d4d4d;
}

em {
	font-style: normal;
	text-decoration:underline;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

p, ol {
  clear: both;
}

ol {
  list-style: none;
  padding: 0;
}

li:has(h2), li:has(h3) {
	margin-bottom: 1.5em;
}
li h2, li h3 {
	font-size: 1.2em;
	font-weight: normal;
}
li p {
	margin-bottom: 0em;
}
#business-items li {
	margin-bottom: 1em;
}
#business-items ol li a {
	border: 1px, dotted #ccc;
	display: block;
	padding: .5em;
}
#business-items ol li a:hover {
	background-color: #ccc;
}
.read-link {
	background-color: #ebe9e8;
	border: 1px, dotted #ccc;
	padding: .5em;
}
a.rss {
  background-image: url("/rss.svg");
  background-repeat: no-repeat;
  display: block;
  background-size: 20px;
  padding-left: 30px;
}

.url-copy {
	width: 100%;
}


.schema-wrapper  {
  overflow-x: scroll;
  scrollbar-width:none;
}

.table-wrapper  {
  overflow-x: scroll;
  scrollbar-width:none;
}

.table-wrapper th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;
}

table {
  font-variant-numeric: proportional-nums;
  margin-bottom: 1em;
  width: 100%;
}

table thead {
  background-color: #373151;
  color: #fff;
  position: sticky;
  top: 0;
}

table thead a {
  color: #fff;
}

/* Sortable tables */
table.sortable thead a {
  background-image: url("/sort.png");
  background-position: left;
  background-repeat: no-repeat;
  color: #fff;
  display: block;
  padding-left: 1.5em;
  text-decoration: none;
}

table.sortable thead .number a {
  background-position: right;
  padding-right: 1.5em;
}

table.sortable.sorted-ascending thead td a.sorted {
  background-image: url("/sort-up.png");
}

table.sortable.sorted-ascending thead th a.sorted {
  background-image: url("/sort-up.png");
}

table.sortable.sorted-descending thead td a.sorted {
  background-image: url("/sort-down.png");
}

table.sortable.sorted-descending thead th a.sorted {
  background-image: url("/sort-down.png");
}


/* electionn results boundary sets */

table.multibody tr:nth-child(2n) {
  background-color: transparent;
}

table.multibody tr {
  border-bottom: 1.5px solid #eee;
}

table.multibody tr:last-child {
  border-color: #bbb;
}



thead td.number {
  text-align: right;
}

tbody td.number {
  text-align: right;
  font-family: ui-monospace,monospace;
  font-size: 85%;
  letter-spacing: -0.4px;
  padding-left:2rem;
}



th.number {
  text-align: right;
}

td.commons {
	background-color:lightgreen;
	font-weight:bold;
}
td.lords {
	background-color:pink;
	font-weight:bold;
}

pre code {
	color: #ccc;
}

/* Form stuff */
form {
	margin-bottom: 1em;
}
fieldset {
	margin-bottom: 1.5rem;
}
p.radio {
	border: 1pt solid #fff;
	border-radius:0.5rem;
	padding:0.25rem;
	width:100%;
}
p.radio:hover {
	border-color: black;
}
p.radio * {
	cursor:pointer;
}
input[type=radio] {
	transform: scale(1.5);
}
input[type=date] {
	border-radius: 0.25rem;
	font-size: larger;
	padding: 0.5rem;
}
input[type=number] {
	border-radius:0.25rem;
	font-size:larger;
	padding: 0.5rem;
}
input:focus {
	border-color: blue;
}
button, a.previous, a.next {
	background-color: white;
	border: 2pt solid #373151;
	border-radius: 0.25rem;
	color: #373151;
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1rem;
	text-decoration: none;
}
a.next {
	float: right;
}
button:hover, a.previous:hover, a.next:hover {
	background-color: #373151;
	color: #fff;
}

/* Result page */
p.box {
	background-color: white;
	border:2pt solid gray;
	border-radius:0.25rem;
	color:black;
	padding: 0.75rem;
	font-size:larger;
}

#egg-timer #logo, #egg-timer .formerly {
	display: inline-block;
}
#logo {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
#logo:hover {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}

a.csv {
  background-image: url("/egg-timer/csv.png");
  background-repeat: no-repeat;
  display: block;
  height: 32px;
  width: 32px;
}
a.csv abbr {
  visibility: hidden;
}

footer {
  background-color: #373151;
  color: #fff;
  flex-shrink: 0;
  font-size: 1rem;
  line-height: 1.4;
  margin-top:4rem;
  padding: 10px 0;
}

footer a, footer a:hover {
  color: #fff;
}
