<footer>
  <p>MNIS Prodder uses the <a href='https://data.parliament.uk/membersdataplatform/memberquery.aspx'>public MNIS API</a>, made available under the <a href='https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence/' rel='licence'>Open Parliament Licence</a>.</p>
  <p>For data protection reasons, some data - including date of birth - is not published.</p>
	<p>
		<a href="https://www.parliament.uk/site-information/accessibility/">Accessibility statement</a>
		-
		<%= link_to( 'Cookies', meta_cookies_url )  %>
		-
		<a href="https://commonslibrary.parliament.uk/privacy-policy/">Privacy notice</a>
	</p>
</footer>